<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1 style="text-align: center">Detected Object by YOLO</h1>
    <form
      class="p-3 text-center"
      action="/"
      ,
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="imagefile" class="form-control" />
      <input type="submit" value="Detect Object" class="btn btn-primary mt-3" />
    </form>
    <div>
      <img src="" alt="" />
    </div>

    {% if filename %}
    <div>
      <img src="{{url_for('static', filename='display/' + filename)}}" />
    </div>
    {% endif %}
  </body>
</html>
